#controls {
    background-color: green;
    max-width: 24vh;
    min-height: 10vh;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

#controls button {
    display: block;
}

.white {
    color: tan;
}
